In [13]:
import pandas as pd

In [ ]:
df1 = pd.read_csv('data\\raw\\datasets_noncleaned\\datasets_noncleaned\\dataset_mental_health.csv')

In [15]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103488 entries, 0 to 103487
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   text    103488 non-null  object
 1   status  103488 non-null  object
dtypes: object(2)
memory usage: 1.6+ MB

In [16]:
df1.describe()

          text   status
count   103488   103488
unique  103464        7
top     #name?  anxiety
freq         4    17620

In [17]:
df1

,text,status
0,"""My mind is a never-ending cycle of worry, and...",anxiety
1,Despite the sun shining and birds singing outs...,bipolar
2,"I'm drowning in responsibilities, each one dem...",stress
3,"""My emotions shift like the wind, leaving me u...",personality disorder
4,"I'm trapped in a whirlwind of thoughts, unable...",anxiety
...,...,...
103483,"I long to embrace my true self, yet the mirror...",personality disorder
103484,"""My mind is a whirlwind of worst-case scenario...",anxiety
103485,Bipolar disorder: From elated excitement to cr...,bipolar
103486,"""Despite my best efforts, the constant stream ...",stress
103487,"""I'm torn between who I want to be and who I t...",personality disorder

In [18]:
print(df1['status'].value_counts())

status
anxiety                 17620
normal                  16068
depression              15901
stress                  15230
personality disorder    13915
bipolar                 13708
suicidal                11046
Name: count, dtype: int64

In [ ]:
df2=pd.read_csv(r'data\raw\datasets_noncleaned\labeled stress depression bipolar personality disorder anxiety.csv')

In [20]:
df2

,Unnamed: 0,text,title,target,label
0,0,Welcome to /r/depression's check-in post - a p...,"Regular check-in post, with information about ...",1,Depression
1,1,We understand that most people who reply immed...,Our most-broken and least-understood rules is ...,1,Depression
2,2,Anyone else just miss physical touch? I crave ...,"I haven’t been touched, or even hugged, in so ...",1,Depression
3,3,I’m just so ashamed. Everyone and everything f...,Being Depressed is Embarrassing,1,Depression
4,4,I really need a friend. I don't even have a si...,I'm desperate for a friend and to feel loved b...,1,Depression
...,...,...,...,...,...
5952,1183,I’ve (24M) dealt with depression/anxiety for y...,Nobody takes me seriously,4,Anxiety
5953,1184,"""I don't feel very good, it's like I don't be...",selfishness,4,Anxiety
5954,1185,"I can't sleep most of the nights, meds didn't ...",Is there any way to sleep better?,4,Anxiety
5955,1186,"Hi, all. I have to give a presentation at work...",Public speaking tips?,4,Anxiety
5956,1187,It's not about being scared I didn't lock the ...,I have really bad door anxiety!,4,Anxiety

In [21]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5957 entries, 0 to 5956
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  5957 non-null   int64
 1   text        5607 non-null   object
 2   title       5957 non-null   object
 3   target      5957 non-null   int64
 4   label       5957 non-null   object
dtypes: int64(2), object(3)
memory usage: 232.8+ KB

In [22]:
# Drop the 'title' and 'target' columns
df2 = df2.drop(columns=['title', 'target','Unnamed: 0'])

# Rename 'label' column to 'status'
df2 = df2.rename(columns={'label': 'status'})

# Verify the result
df2.head()

                                                text      status
0  Welcome to /r/depression's check-in post - a p...  Depression
1  We understand that most people who reply immed...  Depression
2  Anyone else just miss physical touch? I crave ...  Depression
3  I’m just so ashamed. Everyone and everything f...  Depression
4  I really need a friend. I don't even have a si...  Depression

In [23]:
df2

                                                   text      status
0     Welcome to /r/depression's check-in post - a p...  Depression
1     We understand that most people who reply immed...  Depression
2     Anyone else just miss physical touch? I crave ...  Depression
3     I’m just so ashamed. Everyone and everything f...  Depression
4     I really need a friend. I don't even have a si...  Depression
...                                                 ...         ...
5952  I’ve (24M) dealt with depression/anxiety for y...     Anxiety
5953   "I don't feel very good, it's like I don't be...     Anxiety
5954  I can't sleep most of the nights, meds didn't ...     Anxiety
5955  Hi, all. I have to give a presentation at work...     Anxiety
5956  It's not about being scared I didn't lock the ...     Anxiety

[5957 rows x 2 columns]

In [24]:
print(df2['status'].value_counts())

status
Depression              1202
Personality disorder    1201
Anxiety                 1188
Bipolar disorder        1185
Stress                  1181
Name: count, dtype: int64

In [25]:
# Combine (stack) the two DataFrames
df_merged = pd.concat([df1, df2], ignore_index=True)

In [27]:
print(df_merged['status'].value_counts())

status
anxiety                 17620
normal                  16068
depression              15901
stress                  15230
personality disorder    13915
bipolar                 13708
suicidal                11046
Depression               1202
Personality disorder     1201
Anxiety                  1188
Bipolar disorder         1185
Stress                   1181
Name: count, dtype: int64

In [26]:
# Find duplicates based on text
duplicates = df_merged[df_merged.duplicated(subset='text', keep=False)]

# Count how many duplicates
num_duplicates = duplicates.shape[0]

print(f"Number of duplicate 'text' entries: {num_duplicates}")

Number of duplicate 'text' entries: 2746

In [28]:
df_cleaned = df_merged.drop_duplicates(subset='text', keep='first')

In [29]:
duplicates = df_cleaned[df_cleaned.duplicated(subset='text', keep=False)]
num_duplicates = duplicates.shape[0]
print(f"Number of duplicate 'text' entries: {num_duplicates}")

Number of duplicate 'text' entries: 0

In [ ]:
df3=pd.read_csv(r'data\raw\datasets_noncleaned\mental_health_dataset.csv')

In [31]:
df3

,author,body,created_utc,id,num_comments,score,subreddit,title,upvote_ratio,url
0,HotConversation1273,A few months ago I was accepted into this full...,2021-12-22T18:32:56.000Z,rmbjwb,1,1,ADHD,I get extremely anxious if I’m not working 24/7,1.00,https://www.reddit.com/r/ADHD/comments/rmbjwb/...
1,snorefestt,"Hey guys, I was curious if anyone else has the...",2021-12-22T18:24:25.000Z,rmbd1y,3,5,ADHD,"I can't will myself to clean my own house, but...",1.00,https://www.reddit.com/r/ADHD/comments/rmbd1y/...
2,etyf12,\n\ni have 6 exams in the next 2 weeks one of...,2021-12-22T18:22:52.000Z,rmbbvu,1,2,ADHD,i need some help,1.00,https://www.reddit.com/r/ADHD/comments/rmbbvu/...
3,GetHairOrDieTryin,Is there anyone out there that is struggling w...,2021-12-22T18:20:35.000Z,rmba1t,3,2,ADHD,Anyone up for a chat?,1.00,https://www.reddit.com/r/ADHD/comments/rmba1t/...
4,ZeroTransPat,"Whenever I get hungry, I never eat because I d...",2021-12-22T18:18:47.000Z,rmb8lm,2,1,ADHD,Figuring out what to eat sucks,1.00,https://www.reddit.com/r/ADHD/comments/rmb8lm/...
...,...,...,...,...,...,...,...,...,...,...
151283,mesu2713,The rescheduling and the waiting and the sheer...,2019-07-07T20:33:17.000Z,cablf1,2,3,ptsd,Anybody out there still waiting for your day i...,0.81,https://www.reddit.com/r/ptsd/comments/cablf1/...
151284,mooki24,"I experienced a stressful, drawn out event rec...",2019-07-07T17:28:34.000Z,ca9dkd,1,2,ptsd,PTSD-like symptoms?,0.67,https://www.reddit.com/r/ptsd/comments/ca9dkd/...
151285,[deleted],[deleted],2019-07-07T16:43:09.000Z,ca8ucl,2,16,ptsd,"I posted on here months ago and was blind, but...",1.00,https://www.reddit.com/r/ptsd/comments/ca8ucl/...
151286,[deleted],[deleted],2019-07-07T16:31:35.000Z,ca8pou,0,4,ptsd,Just a friendly reminder using facts,0.84,https://www.reddit.com/r/ptsd/comments/ca8pou/...
151287,journey1992,Anyone else burnt out and not ready to invest ...,2019-07-07T16:21:24.000Z,ca8lrk,21,95,ptsd,Anyone else burnt out and not ready to invest ...,0.99,https://www.reddit.com/r/ptsd/comments/ca8lrk/...

In [32]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151288 entries, 0 to 151287
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   author        151288 non-null  object
 1   body          149679 non-null  object
 2   created_utc   151288 non-null  object
 3   id            151288 non-null  object
 4   num_comments  151288 non-null  int64
 5   score         151288 non-null  int64
 6   subreddit     151288 non-null  object
 7   title         151288 non-null  object
 8   upvote_ratio  151288 non-null  float64
 9   url           151288 non-null  object
dtypes: float64(1), int64(2), object(7)
memory usage: 11.5+ MB

In [33]:
# Drop the 'title' and 'target' columns
df3 = df3.drop(columns=['title', 'author','created_utc','id','num_comments','score','upvote_ratio','url'])

# Rename 'label' column to 'status'
df3 = df3.rename(columns={'subreddit': 'status','body':'text'})

# Verify the result
df3.head()

                                                text status
0  A few months ago I was accepted into this full...   ADHD
1  Hey guys, I was curious if anyone else has the...   ADHD
2   \n\ni have 6 exams in the next 2 weeks one of...   ADHD
3  Is there anyone out there that is struggling w...   ADHD
4  Whenever I get hungry, I never eat because I d...   ADHD

In [34]:
df_merged = pd.concat([df_cleaned, df3], ignore_index=True)
print(df_merged['status'].value_counts())

status
OCD                     42826
depression              39922
ADHD                    37109
ptsd                    24028
aspergers               23294
anxiety                 17613
normal                  16068
stress                  15227
personality disorder    13915
bipolar                 13708
suicidal                11042
Depression                974
Anxiety                   933
Personality disorder      895
Stress                    810
Bipolar disorder          809
Name: count, dtype: int64

In [35]:
# Find duplicates based on text
duplicates = df_merged[df_merged.duplicated(subset='text', keep=False)]

# Count how many duplicates
num_duplicates = duplicates.shape[0]

print(f"Number of duplicate 'text' entries: {num_duplicates}")

Number of duplicate 'text' entries: 64927

In [36]:
df_cleaned = df_merged.drop_duplicates(subset='text', keep='first')

In [37]:
duplicates = df_cleaned[df_cleaned.duplicated(subset='text', keep=False)]
num_duplicates = duplicates.shape[0]
print(f"Number of duplicate 'text' entries: {num_duplicates}")

Number of duplicate 'text' entries: 0

In [39]:
print(df_cleaned['status'].value_counts())

status
depression              29729
OCD                     25367
ADHD                    20348
anxiety                 17613
normal                  16068
stress                  15227
personality disorder    13915
bipolar                 13708
ptsd                    13630
aspergers               13418
suicidal                11042
Depression                974
Anxiety                   933
Personality disorder      895
Stress                    810
Bipolar disorder          809
Name: count, dtype: int64

In [42]:
df = df_cleaned.rename(columns={'Depression':'depression','Anxiety':'anxiety','Personality disorder':'personality disorder','Stress':'stress','Bipolar disorder':'bipolar'})

In [43]:
print(df['status'].value_counts())

status
depression              29729
OCD                     25367
ADHD                    20348
anxiety                 17613
normal                  16068
stress                  15227
personality disorder    13915
bipolar                 13708
ptsd                    13630
aspergers               13418
suicidal                11042
Depression                974
Anxiety                   933
Personality disorder      895
Stress                    810
Bipolar disorder          809
Name: count, dtype: int64

In [44]:
df['status'] = df['status'].replace({
    'Depression': 'depression',
    'Anxiety': 'anxiety',
    'Personality disorder': 'personality disorder',
    'Stress': 'stress',
    'Bipolar disorder': 'bipolar'
})

In [45]:
print(df['status'].value_counts())

status
depression              30703
OCD                     25367
ADHD                    20348
anxiety                 18546
normal                  16068
stress                  16037
personality disorder    14810
bipolar                 14517
ptsd                    13630
aspergers               13418
suicidal                11042
Name: count, dtype: int64

In [46]:
duplicates = df[df.duplicated(subset='text', keep=False)]
num_duplicates = duplicates.shape[0]
print(f"Number of duplicate 'text' entries: {num_duplicates}")

Number of duplicate 'text' entries: 0

In [ ]:
df4=pd.read_csv(r'data\raw\datasets_noncleaned\ptsd dmesticviolence anxiety etc.csv')

In [58]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 715 entries, 0 to 714
Columns: 116 entries, id to sentiment
dtypes: float64(106), int64(6), object(4)
memory usage: 648.1+ KB

In [59]:
df4.head()

,id,subreddit,post_id,sentence_range,text,label,confidence,social_timestamp,social_karma,syntax_ari,...,lex_dal_min_pleasantness,lex_dal_min_activation,lex_dal_min_imagery,lex_dal_avg_activation,lex_dal_avg_imagery,lex_dal_avg_pleasantness,social_upvote_ratio,social_num_comments,syntax_fk_grade,sentiment
0,896,relationships,7nu7as,"[50, 55]","Its like that, if you want or not.“ ME: I have...",0,0.8,1514980773,22,-1.238793,...,1.0000,1.2000,1.0,1.65864,1.32245,1.80264,0.63,62,-0.148707,0.000000
1,19059,anxiety,680i6d,"(5, 10)",I man the front desk and my title is HR Custom...,0,1.0,1493348050,5,7.684583,...,1.4000,1.1250,1.0,1.69133,1.69180,1.97249,1.00,2,7.398222,-0.065909
2,7977,ptsd,8eeu1t,"(5, 10)",We'd be saving so much money with this new hou...,1,1.0,1524516630,10,2.360408,...,1.1429,1.0000,1.0,1.70974,1.52985,1.86108,1.00,8,3.149288,-0.036818
3,1214,ptsd,8d28vu,"[2, 7]","My ex used to shoot back with ""Do you want me ...",1,0.5,1524018289,5,5.997000,...,1.0000,1.3000,1.0,1.72615,1.52000,1.84909,1.00,7,6.606000,-0.066667
4,1965,relationships,7r1e85,"[23, 28]",I haven’t said anything to him yet because I’m...,0,0.8,1516200171,138,4.649418,...,1.1250,1.1429,1.0,1.75642,1.43582,1.91725,0.84,70,4.801869,0.141667

In [60]:
# Keep only the 'text' and 'subreddit' columns
df4 = df4[['text', 'subreddit']]

# Rename 'subreddit' to 'status'
df4 = df4.rename(columns={'subreddit': 'status'})

# Verify the result
df4.head()

                                                text         status
0  Its like that, if you want or not.“ ME: I have...  relationships
1  I man the front desk and my title is HR Custom...        anxiety
2  We'd be saving so much money with this new hou...           ptsd
3  My ex used to shoot back with "Do you want me ...           ptsd
4  I haven’t said anything to him yet because I’m...  relationships

In [61]:
df4

                                                  text         status
0    Its like that, if you want or not.“ ME: I have...  relationships
1    I man the front desk and my title is HR Custom...        anxiety
2    We'd be saving so much money with this new hou...           ptsd
3    My ex used to shoot back with "Do you want me ...           ptsd
4    I haven’t said anything to him yet because I’m...  relationships
..                                                 ...            ...
710  i have horrible vivid nightmares every night. ...           ptsd
711  Also I can't think about both of them without ...  relationships
712  Furthermore, I told him before we got really s...  relationships
713  Here's the link to my amazon wish list where t...     assistance
714  How can I keep us protected? They have already...     assistance

[715 rows x 2 columns]

In [62]:
df_merged = pd.concat([df, df4], ignore_index=True)
print(df_merged['status'].value_counts())

status
depression              30703
OCD                     25367
ADHD                    20348
anxiety                 18693
normal                  16068
stress                  16051
personality disorder    14810
bipolar                 14517
ptsd                    13757
aspergers               13418
suicidal                11042
relationships             142
domesticviolence           72
survivorsofabuse           70
assistance                 66
homeless                   52
almosthomeless             19
food_pantry                 6
Name: count, dtype: int64

In [63]:
mental_health_statuses = [
    'depression', 'anxiety', 'stress', 'bipolar',
    'personality disorder', 'OCD', 'ADHD',
    'ptsd', 'aspergers', 'suicidal','normal'
]

df_disorders = df_merged[df_merged['status'].isin(mental_health_statuses)]

In [64]:
# Find duplicates based on text
duplicates = df_disorders[df_disorders.duplicated(subset='text', keep=False)]

# Count how many duplicates
num_duplicates = duplicates.shape[0]

print(f"Number of duplicate 'text' entries: {num_duplicates}")

Number of duplicate 'text' entries: 0

In [65]:
print(df_disorders['status'].value_counts())

status
depression              30703
OCD                     25367
ADHD                    20348
anxiety                 18693
normal                  16068
stress                  16051
personality disorder    14810
bipolar                 14517
ptsd                    13757
aspergers               13418
suicidal                11042
Name: count, dtype: int64

In [ ]:
df5=pd.read_csv(r'data\raw\datasets_noncleaned\suicide depression.csv')

In [67]:
df5.head()

                                                text  label
0  dear american teens question dutch person hear...      0
1  nothing look forward lifei dont many reasons k...      1
2  music recommendations im looking expand playli...      0
3  im done trying feel betterthe reason im still ...      1
4  worried  year old girl subject domestic physic...      1

In [68]:
label_mapping = {
    1: "poisonous with mental health issues",
    0: "normal"
}

# Appliquer le mapping
df5["label_text"] = df5["label"].map(label_mapping)

In [69]:
df5.head()

,text,label,label_text
0,dear american teens question dutch person hear...,0,normal
1,nothing look forward lifei dont many reasons k...,1,poisonous with mental health issues
2,music recommendations im looking expand playli...,0,normal
3,im done trying feel betterthe reason im still ...,1,poisonous with mental health issues
4,worried year old girl subject domestic physic...,1,poisonous with mental health issues

In [70]:
df5 = df5.drop(columns=['label'])

# Rename 'label' column to 'status'
df5 = df5.rename(columns={'label_text':'status'})

# Verify the result
df5.head()

,text,status
0,dear american teens question dutch person hear...,normal
1,nothing look forward lifei dont many reasons k...,poisonous with mental health issues
2,music recommendations im looking expand playli...,normal
3,im done trying feel betterthe reason im still ...,poisonous with mental health issues
4,worried year old girl subject domestic physic...,poisonous with mental health issues

In [71]:
mental_health_statuses = [
    'depression', 'anxiety', 'stress', 'bipolar',
    'personality disorder', 'OCD', 'ADHD',
    'ptsd', 'aspergers', 'suicidal','normal'
]

df5 = df5[df5['status'].isin(mental_health_statuses)]

In [72]:
df5

                                                    text  status
0      dear american teens question dutch person hear...  normal
2      music recommendations im looking expand playli...  normal
6      feel like someone needs hear tonight feeling r...  normal
10     excercise motivated ngl cant wait get shape kn...  normal
11     know youd rather laid big booty body hella pos...  normal
...                                                  ...     ...
27970  back school guess ive coop goat farm quad  tod...  normal
27971  hell sounds better heaven heaven pray shit hel...  normal
27972  posting everyday people stop caring  religion ...  normal
27973  okay definetly need hear guys opinion ive pret...  normal
27976  got nudes person might might know snapchat do ...  normal

[14139 rows x 2 columns]

In [73]:
print(df5['status'].value_counts())

status
normal    14139
Name: count, dtype: int64

In [74]:
df_merged = pd.concat([df_disorders, df5], ignore_index=True)
print(df_merged['status'].value_counts())

status
depression              30703
normal                  30207
OCD                     25367
ADHD                    20348
anxiety                 18693
stress                  16051
personality disorder    14810
bipolar                 14517
ptsd                    13757
aspergers               13418
suicidal                11042
Name: count, dtype: int64

In [75]:
duplicates = df_merged[df_merged.duplicated(subset='text', keep=False)]
num_duplicates = duplicates.shape[0]
print(f"Number of duplicate 'text' entries: {num_duplicates}")

Number of duplicate 'text' entries: 11

In [76]:
df_cleaned = df_merged.drop_duplicates(subset='text', keep='first')

In [78]:
duplicates = df_cleaned[df_cleaned.duplicated(subset='text', keep=False)]
num_duplicates = duplicates.shape[0]
print(f"Number of duplicate 'text' entries: {num_duplicates}")

Number of duplicate 'text' entries: 0

In [79]:
print(df_cleaned['status'].value_counts())

status
depression              30703
normal                  30201
OCD                     25367
ADHD                    20348
anxiety                 18693
stress                  16051
personality disorder    14810
bipolar                 14517
ptsd                    13757
aspergers               13418
suicidal                11042
Name: count, dtype: int64

In [80]:
df_cleaned['status'] = df_cleaned['status'].replace({
    'OCD': 'ocd',
    'ADHD': 'adhd',
})

C:\Users\DELL\AppData\Local\Temp\ipykernel_11732\3495792384.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['status'] = df_cleaned['status'].replace({

In [ ]:
print(df_cleaned['status'].value_counts())

status
depression              30703
normal                  30201
ocd                     25367
adhd                    20348
anxiety                 18693
stress                  16051
personality disorder    14810
bipolar                 14517
ptsd                    13757
aspergers               13418
suicidal                11042
Name: count, dtype: int64

In [84]:
print("Total number of rows:", len(df_cleaned))

Total number of rows: 208907

In [85]:
duplicates = df_cleaned[df_cleaned.duplicated(subset='text', keep=False)]
num_duplicates = duplicates.shape[0]
print(f"Number of duplicate 'text' entries: {num_duplicates}")

Number of duplicate 'text' entries: 0

In [86]:
df_cleaned.to_csv('final_dataset.csv', index=False)

In [87]:
df_cleaned

,text,status
0,"""My mind is a never-ending cycle of worry, and...",anxiety
1,Despite the sun shining and birds singing outs...,bipolar
2,"I'm drowning in responsibilities, each one dem...",stress
3,"""My emotions shift like the wind, leaving me u...",personality disorder
4,"I'm trapped in a whirlwind of thoughts, unable...",anxiety
...,...,...
208908,back school guess ive coop goat farm quad tod...,normal
208909,hell sounds better heaven heaven pray shit hel...,normal
208910,posting everyday people stop caring religion ...,normal
208911,okay definetly need hear guys opinion ive pret...,normal
208912,got nudes person might might know snapchat do ...,normal

In [88]:
print(df_cleaned['status'].value_counts())

status
depression              30703
normal                  30201
ocd                     25367
adhd                    20348
anxiety                 18693
stress                  16051
personality disorder    14810
bipolar                 14517
ptsd                    13757
aspergers               13418
suicidal                11042
Name: count, dtype: int64

In [91]:
df_cleaned.loc[:, 'status'] = df_cleaned['status'].replace({
    'Depression': 'depression',
    'Anxiety': 'anxiety',
    'Personality disorder': 'personality disorder',
    'Stress': 'stress',
    'Bipolar disorder': 'bipolar'
})

In [92]:
print(df_cleaned['status'].value_counts())

status
depression              30703
normal                  30201
ocd                     25367
adhd                    20348
anxiety                 18693
stress                  16051
personality disorder    14810
bipolar                 14517
ptsd                    13757
aspergers               13418
suicidal                11042
Name: count, dtype: int64

In [93]:
df_cleaned.to_csv('final_dataset.csv', index=False)

In [128]:
df=pd.read_csv('D:\\Downloads\\datasets_noncleaned\\final_dataset.csv')

In [129]:
print(df['status'].value_counts())

status
depression              30703
normal                  30201
ocd                     25367
adhd                    20348
anxiety                 18693
stress                  16051
personality disorder    14810
bipolar                 14517
ptsd                    13757
aspergers               13418
suicidal                11042
Name: count, dtype: int64

In [130]:
df

,text,status
0,"""My mind is a never-ending cycle of worry, and...",anxiety
1,Despite the sun shining and birds singing outs...,bipolar
2,"I'm drowning in responsibilities, each one dem...",stress
3,"""My emotions shift like the wind, leaving me u...",personality disorder
4,"I'm trapped in a whirlwind of thoughts, unable...",anxiety
...,...,...
208902,back school guess ive coop goat farm quad tod...,normal
208903,hell sounds better heaven heaven pray shit hel...,normal
208904,posting everyday people stop caring religion ...,normal
208905,okay definetly need hear guys opinion ive pret...,normal
208906,got nudes person might might know snapchat do ...,normal

In [131]:
df6=pd.read_csv("D:\\Downloads\\datasets_noncleaned\\datasets_noncleaned\\addiction_2018_features_tfidf_256.csv")

In [132]:
df7=pd.read_csv("D:\\Downloads\\datasets_noncleaned\\datasets_noncleaned\\addiction_2019_features_tfidf_256.csv")

In [133]:
df8=pd.read_csv("D:\\Downloads\\datasets_noncleaned\\datasets_noncleaned\\addiction_post_features_tfidf_256.csv")

In [134]:
df9=pd.read_csv("D:\\Downloads\\datasets_noncleaned\\datasets_noncleaned\\addiction_pre_features_tfidf_256.csv")

In [232]:
df_merged = pd.concat([df6, df7,df8,df9], ignore_index=True)

In [233]:
df_merged

,subreddit,author,date,post,automated_readability_index,coleman_liau_index,flesch_kincaid_grade_level,flesch_reading_ease,gulpease_index,gunning_fog_index,...,tfidf_wish,tfidf_without,tfidf_wonder,tfidf_work,tfidf_worri,tfidf_wors,tfidf_would,tfidf_wrong,tfidf_x200b,tfidf_year
0,addiction,SearchSmegmaongoogle,2018/01/01,Deciding to go of tramadol Well after never ta...,5.651264,5.245836,6.314583,81.454306,67.250000,8.861111,...,0.299199,0.000000,0.0,0.000000,0.000000,0.132575,0.000000,0.0,0.0,0.000000
1,addiction,420somthing,2018/01/02,My vyvanse addiction... It has gotten pretty b...,0.061000,2.401664,2.085000,93.472500,91.333333,4.333333,...,0.000000,0.248395,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000
2,addiction,PurposedPorpoise,2018/01/02,Quitting coke and nicotine I'm gonna start by ...,3.195416,4.491779,5.042790,82.295026,73.503311,8.960783,...,0.000000,0.099761,0.0,0.075342,0.000000,0.000000,0.073517,0.0,0.0,0.133289
3,addiction,iamauserunknown,2018/01/02,Is it OK to leave a drug addict you love? Man...,8.166136,7.535312,8.157072,71.057611,62.210332,11.801898,...,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.141137
4,addiction,whattheheyyy,2018/01/02,My brother has a problem I'm not against weed....,1.473585,3.190691,2.855935,94.388683,79.158730,6.140181,...,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7636,addiction,209anc123,2019/03/09,Meth addict So was hooked on meth then left to...,0.461177,2.744979,2.474246,92.431099,86.894737,6.508647,...,0.000000,0.000000,0.0,0.037247,0.051958,0.000000,0.000000,0.0,0.0,0.032947
7637,addiction,Oxenfreeally,2019/03/09,"strange addiction : holding in pee hey, \n\nso...",-0.126500,2.044058,2.428675,92.473627,88.651163,5.499575,...,0.000000,0.117897,0.0,0.089039,0.000000,0.000000,0.000000,0.0,0.0,0.000000
7638,addiction,roguewhiskers,2019/03/09,Child abuse? My addicted mother use to share h...,2.722759,4.559712,4.477448,83.622379,75.896552,8.226207,...,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.063393,0.0,0.0,0.057467
7639,addiction,Sticklemore2022,2019/03/09,[QUESTION] is it possible to get addicted to s...,4.700263,5.848610,5.203991,83.133355,69.701754,8.507018,...,0.000000,0.000000,0.0,0.076311,0.000000,0.000000,0.074462,0.0,0.0,0.135003
7640,addiction,fff5193,2019/03/09,"I'm more than the pain, y'all. Help me be a mo...",20.916667,28.067938,8.700000,49.311667,41.142857,6.590476,...,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000

In [234]:
# Keep only the 'text' and 'subreddit' columns
df_merged = df_merged[['post', 'subreddit']]

# Rename 'subreddit' to 'status'
df_merged = df_merged.rename(columns={'subreddit': 'status','post':'text'})

# Verify the result
df_merged.head()

                                                text     status
0  Deciding to go of tramadol Well after never ta...  addiction
1  My vyvanse addiction... It has gotten pretty b...  addiction
2  Quitting coke and nicotine I'm gonna start by ...  addiction
3  Is it OK to leave a drug addict you love?  Man...  addiction
4  My brother has a problem I'm not against weed....  addiction

In [235]:
print(df_merged['status'].value_counts())

status
addiction    7641
Name: count, dtype: int64

In [236]:
duplicates = df_merged[df_merged.duplicated(subset='text', keep=False)]
num_duplicates = duplicates.shape[0]
print(f"Number of duplicate 'text' entries: {num_duplicates}")

Number of duplicate 'text' entries: 2140

In [140]:
df10=pd.read_csv("D:\\Downloads\\datasets_noncleaned\\datasets_noncleaned\\adhd_2018_features_tfidf_256.csv")
df11=pd.read_csv("D:\\Downloads\\datasets_noncleaned\\datasets_noncleaned\\adhd_2019_features_tfidf_256.csv")
df12=pd.read_csv("D:\\Downloads\\datasets_noncleaned\\datasets_noncleaned\\adhd_post_features_tfidf_256.csv")
df13=pd.read_csv("D:\\Downloads\\datasets_noncleaned\\datasets_noncleaned\\adhd_pre_features_tfidf_256.csv")

In [141]:
df_merged = pd.concat([df10, df11,df12,df13], ignore_index=True)

In [142]:
df_merged

,subreddit,author,date,post,automated_readability_index,coleman_liau_index,flesch_kincaid_grade_level,flesch_reading_ease,gulpease_index,gunning_fog_index,...,tfidf_wish,tfidf_without,tfidf_wonder,tfidf_work,tfidf_worri,tfidf_wors,tfidf_would,tfidf_wrong,tfidf_x200b,tfidf_year
0,adhd,Seftari,2018/01/01,Lethargic/Depressed when off meds First I'll g...,5.400816,6.505840,5.555245,81.416541,68.047619,9.145306,...,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.095341,0.000000,0.000000,0.086429
1,adhd,LisaLoves2,2018/01/01,Concerta not working on the first day?! Update...,2.980698,5.751419,4.789892,76.862769,79.896552,8.314655,...,0.0,0.0,0.000000,0.099106,0.000000,0.0,0.290114,0.000000,0.000000,0.000000
2,adhd,featherflutter,2018/01/01,Comorbid anxiety and ADHD-PI Medication Questi...,5.136889,6.746474,6.981667,69.052500,69.148148,10.733333,...,0.0,0.0,0.000000,0.000000,0.117894,0.0,0.000000,0.126925,0.000000,0.000000
3,adhd,vanillasky0,2018/01/01,Fist Day on Concerta 18mg UPDATE! Update!: Tha...,2.841137,5.750767,4.597740,76.904579,82.383459,8.137030,...,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.303759,0.000000,0.000000,0.000000
4,adhd,JITTERdUdE,2018/01/01,I absolutely hate being so motivated but equal...,5.781923,7.779519,6.423590,72.163077,68.102564,9.302564,...,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45626,adhd,Amagee44,2019/05/30,"Request from an r/ADHD newbie Hello everyone, ...",4.899571,7.867793,4.661429,79.453571,73.714286,6.857143,...,0.0,0.0,0.268459,0.000000,0.000000,0.0,0.351706,0.000000,0.000000,0.000000
45627,adhd,banammockHana,2019/05/30,Any good tips for breaking your brain's execut...,4.192468,4.651923,4.821195,87.926078,70.428571,7.718442,...,0.0,0.0,0.000000,0.156913,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
45628,adhd,PuzzleheadedString6,2019/05/30,"Tried my daughters ADHD medications, completel...",5.491500,6.277945,6.045942,79.129775,67.672316,9.659347,...,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.050384,0.000000,0.086184,0.000000
45629,adhd,EagleFist,2019/05/30,"For you people with two monitors, what do you ...",4.678468,6.007755,6.236966,75.027732,69.927835,9.666568,...,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
45630,adhd,Numba9Xan,2019/05/30,How effective is Shire Adderall 30Mg IR I have...,2.908462,5.647108,2.322615,87.672385,100.538462,5.156923,...,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000

In [143]:
# Keep only the 'text' and 'subreddit' columns
df_merged = df_merged[['post', 'subreddit']]

# Rename 'subreddit' to 'status'
df_merged = df_merged.rename(columns={'subreddit': 'status','post':'text'})

# Verify the result
df_merged.head()

                                                text status
0  Lethargic/Depressed when off meds First I'll g...   adhd
1  Concerta not working on the first day?! Update...   adhd
2  Comorbid anxiety and ADHD-PI Medication Questi...   adhd
3  Fist Day on Concerta 18mg UPDATE! Update!: Tha...   adhd
4  I absolutely hate being so motivated but equal...   adhd

In [144]:
print(df_merged['status'].value_counts())

status
adhd    45631
Name: count, dtype: int64

In [145]:
duplicates = df_merged[df_merged.duplicated(subset='text', keep=False)]
num_duplicates = duplicates.shape[0]
print(f"Number of duplicate 'text' entries: {num_duplicates}")

Number of duplicate 'text' entries: 8548

In [146]:
df_cleaned = df_merged.drop_duplicates(subset='text', keep='first')

In [147]:
print(df_cleaned['status'].value_counts())

status
adhd    41357
Name: count, dtype: int64

In [148]:
df_merged = pd.concat([df,df_cleaned], ignore_index=True)

In [149]:
print(df_merged['status'].value_counts())

status
adhd                    61705
depression              30703
normal                  30201
ocd                     25367
anxiety                 18693
stress                  16051
personality disorder    14810
bipolar                 14517
ptsd                    13757
aspergers               13418
suicidal                11042
Name: count, dtype: int64

In [150]:
df_final=df_merged

In [151]:
duplicates = df_merged[df_merged.duplicated(subset='text', keep=False)]
num_duplicates = duplicates.shape[0]
print(f"Number of duplicate 'text' entries: {num_duplicates}")

Number of duplicate 'text' entries: 0

In [152]:
df14=pd.read_csv("D:\\Downloads\\datasets_noncleaned\\datasets_noncleaned\\depression_2018_features_tfidf_256.csv")
df15=pd.read_csv("D:\\Downloads\\datasets_noncleaned\\datasets_noncleaned\\depression_2019_features_tfidf_256.csv")
df16=pd.read_csv("D:\\Downloads\\datasets_noncleaned\\datasets_noncleaned\\depression_post_features_tfidf_256.csv")
df17=pd.read_csv("D:\\Downloads\\datasets_noncleaned\\datasets_noncleaned\\depression_pre_features_tfidf_256.csv")

In [165]:
df_merged = pd.concat([df14, df15,df16,df17], ignore_index=True)

In [166]:
df_merged

,subreddit,author,date,post,automated_readability_index,coleman_liau_index,flesch_kincaid_grade_level,flesch_reading_ease,gulpease_index,gunning_fog_index,...,tfidf_wish,tfidf_without,tfidf_wonder,tfidf_work,tfidf_worri,tfidf_wors,tfidf_would,tfidf_wrong,tfidf_x200b,tfidf_year
0,depression,hanngapoi,2018/01/01,school makes me suicidal (please help) im a 16...,1.093631,3.141628,3.098605,90.521216,81.945736,6.449851,...,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.207461
1,depression,thr0w4w4y989897,2018/01/01,I give up. Failed I just want to wipe my hands...,0.402090,2.678485,2.604274,86.385267,102.069307,6.204840,...,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
2,depression,mooseman1800,2018/01/01,"depressed over the holidays No calls, messages...",2.109231,4.975896,3.283462,83.099038,92.076923,7.215385,...,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
3,depression,throwaway1802360,2018/01/01,It’s hard I don’t want to go back to school th...,2.041621,3.474486,2.894726,95.978984,76.739726,6.236530,...,0.000000,0.0,0.0,0.074725,0.0,0.000000,0.0,0.000000,0.0,0.000000
4,depression,atemylife,2018/01/01,Year in Pixels I'm going to be doing one of th...,2.868873,4.848552,4.100588,85.849314,75.911765,6.886275,...,0.233564,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.523180
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117326,depression,CrisStreamz,2018/11/20,My life sucks right now I can’t hold down a jo...,4.478250,5.207128,5.403333,83.040000,69.916667,8.000000,...,0.000000,0.0,0.0,0.000000,0.0,0.167666,0.0,0.000000,0.0,0.000000
117327,depression,vyletriot,2018/11/20,I Can't Cry? Does anyone else have this proble...,1.488997,3.397518,3.342754,90.003863,79.869565,6.275139,...,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
117328,depression,OfficialCasualCat,2018/11/20,I feel like how much/hard I work is insignific...,2.775928,3.852236,3.667931,92.604788,74.229885,7.192927,...,0.000000,0.0,0.0,0.303945,0.0,0.000000,0.0,0.000000,0.0,0.000000
117329,depression,ArmchairModel,2018/11/20,This Website Shows You What You'd Look Like If...,2.695333,4.932886,3.209444,80.067500,109.222222,5.355556,...,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
117330,depression,ztvrjnf,2018/11/20,Does anybody else have these moments? You have...,3.077250,5.592851,3.060000,90.935000,77.583333,5.666667,...,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.0,0.235934,0.0,0.000000

In [168]:
# Keep only the 'text' and 'subreddit' columns
df_merged = df_merged[['post','subreddit']]

# Rename 'subreddit' to 'status'
df_merged = df_merged.rename(columns={'subreddit': 'status','post':'text'})

# Verify the result
df_merged.head()

                                                text      status
0  school makes me suicidal (please help) im a 16...  depression
1  I give up. Failed I just want to wipe my hands...  depression
2  depressed over the holidays No calls, messages...  depression
3  It’s hard I don’t want to go back to school th...  depression
4  Year in Pixels I'm going to be doing one of th...  depression

In [169]:
print(df_merged['status'].value_counts())

status
depression    117331
Name: count, dtype: int64

In [171]:
duplicates = df_merged[df_merged.duplicated(subset='text', keep=False)]
num_duplicates = duplicates.shape[0]
print(f"Number of duplicate 'text' entries: {num_duplicates}")
df_cleaned = df_merged.drop_duplicates(subset='text', keep='first')

Number of duplicate 'text' entries: 7522

In [172]:
df_merged = pd.concat([df_final,df_cleaned], ignore_index=True)

In [173]:
print(df_merged['status'].value_counts())

status
depression              144273
adhd                     61705
normal                   30201
ocd                      25367
anxiety                  18693
stress                   16051
personality disorder     14810
bipolar                  14517
ptsd                     13757
aspergers                13418
suicidal                 11042
Name: count, dtype: int64

In [175]:
duplicates = df_merged[df_merged.duplicated(subset='text', keep=False)]
num_duplicates = duplicates.shape[0]
print(f"Number of duplicate 'text' entries: {num_duplicates}")
df_cleaned = df_merged.drop_duplicates(subset='text', keep='first')

Number of duplicate 'text' entries: 4

In [176]:
print(df_merged['status'].value_counts())

status
depression              144273
adhd                     61705
normal                   30201
ocd                      25367
anxiety                  18693
stress                   16051
personality disorder     14810
bipolar                  14517
ptsd                     13757
aspergers                13418
suicidal                 11042
Name: count, dtype: int64

In [177]:
df_final1=df_merged

In [204]:
df18=pd.read_csv("D:\\Downloads\\datasets_noncleaned\\datasets_noncleaned\\alcoholism_2018_features_tfidf_256.csv")
df19=pd.read_csv("D:\\Downloads\\datasets_noncleaned\\datasets_noncleaned\\alcoholism_2019_features_tfidf_256.csv")
df20=pd.read_csv("D:\\Downloads\\datasets_noncleaned\\datasets_noncleaned\\alcoholism_post_features_tfidf_256.csv")
df21=pd.read_csv("D:\\Downloads\\datasets_noncleaned\\datasets_noncleaned\\alcoholism_pre_features_tfidf_256.csv")

In [205]:
df_merged = pd.concat([df18,df19,df20,df21], ignore_index=True)

In [206]:
df_merged

,subreddit,author,date,post,automated_readability_index,coleman_liau_index,flesch_kincaid_grade_level,flesch_reading_ease,gulpease_index,gunning_fog_index,...,tfidf_wish,tfidf_without,tfidf_wonder,tfidf_work,tfidf_worri,tfidf_wors,tfidf_would,tfidf_wrong,tfidf_x200b,tfidf_year
0,alcoholism,ponysniper2,2018/01/01,I need to quit while im young (22m) Im going t...,0.522032,2.841252,2.727706,90.440212,87.073394,5.555681,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
1,alcoholism,SevenSixtyOne,2018/01/01,It’s 1:30am. So glad to be sober. I was at a N...,-2.119444,-0.370311,0.079630,105.178333,104.370370,3.140741,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.193325
2,alcoholism,Disturbthepeas,2018/01/01,Might quit tomorrow but don't want to hurt mys...,4.010558,5.217311,5.259432,81.871516,71.393162,8.582805,...,0.0,0.110741,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.147959
3,alcoholism,doggosareamazing,2018/01/01,Treating alcoholism with naltrexone using Sinc...,12.080752,14.051104,9.082481,58.952368,53.561404,11.075689,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
4,alcoholism,TylerJohnson10946,2018/01/02,"It took me being 6,000 in debt to realize I ne...",3.623939,4.280666,4.583523,88.408738,71.815534,7.439112,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.129541
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5906,alcoholism,CJemane,2019/03/31,how do YOU define alcoholism? I drink very lit...,1.605372,3.983637,3.245878,88.266520,82.344595,5.997297,...,0.0,0.077907,0.0,0.058837,0.0,0.0,0.000000,0.000000,0.294612,0.000000
5907,alcoholism,noyobogoya,2019/03/31,Inflamed painful knees after quitting. My fian...,4.470625,7.332307,3.797500,85.647500,74.625000,5.000000,...,0.0,0.000000,0.0,0.141866,0.0,0.0,0.000000,0.000000,0.000000,0.125488
5908,alcoholism,YaketySnacks,2019/03/31,After five years I’ve drank myself into Dupuyt...,0.993214,3.426324,2.436000,92.559000,86.023810,5.740952,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.155488,0.000000,0.000000,0.140953
5909,alcoholism,Dragonmaster5250,2019/03/31,"I know this sounds ridiculous, but I feel asha...",4.432207,4.705164,5.377296,84.809876,69.839161,8.313598,...,0.0,0.000000,0.0,0.102251,0.0,0.0,0.000000,0.153563,0.170665,0.090447
5910,alcoholism,Civilized-Penguin,2019/03/31,I took wellbutrin for 3 days and stopped. Last...,1.118171,3.063300,2.797744,93.260518,81.276423,6.051220,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.106860,0.000000,0.000000,0.000000

In [207]:
# Keep only the 'text' and 'subreddit' columns
df_merged = df_merged[['post','subreddit']]

# Rename 'subreddit' to 'status'
df_merged = df_merged.rename(columns={'subreddit': 'status','post':'text'})

# Verify the result
df_merged.head()

                                                text      status
0  I need to quit while im young (22m) Im going t...  alcoholism
1  It’s 1:30am. So glad to be sober. I was at a N...  alcoholism
2  Might quit tomorrow but don't want to hurt mys...  alcoholism
3  Treating alcoholism with naltrexone using Sinc...  alcoholism
4  It took me being 6,000 in debt to realize I ne...  alcoholism

In [208]:
print(df_merged['status'].value_counts())

status
alcoholism    5911
Name: count, dtype: int64

In [209]:
duplicates = df_merged[df_merged.duplicated(subset='text', keep=False)]
num_duplicates = duplicates.shape[0]
print(f"Number of duplicate 'text' entries: {num_duplicates}")
df_cleaned = df_merged.drop_duplicates(subset='text', keep='first')

Number of duplicate 'text' entries: 1654

In [210]:
print(df_cleaned['status'].value_counts())

status
alcoholism    5084
Name: count, dtype: int64

In [212]:
df_merged = pd.concat([df_final1,df_cleaned], ignore_index=True)

In [213]:
print(df_merged['status'].value_counts())

status
depression              144273
adhd                     61705
normal                   30201
ocd                      25367
anxiety                  18693
stress                   16051
personality disorder     14810
bipolar                  14517
ptsd                     13757
aspergers                13418
suicidal                 11042
alcoholism                5084
Name: count, dtype: int64

In [214]:
df_merged.loc[:, 'status'] = df_merged['status'].replace({
    'bipolar': 'bipolar disorder'
})

In [215]:
print(df_merged['status'].value_counts())

status
depression              144273
adhd                     61705
normal                   30201
ocd                      25367
anxiety                  18693
stress                   16051
personality disorder     14810
bipolar disorder         14517
ptsd                     13757
aspergers                13418
suicidal                 11042
alcoholism                5084
Name: count, dtype: int64

In [216]:
df_merged.to_csv('final1_dataset.csv', index=False)

In [217]:
df22=pd.read_csv("D:\\Downloads\\datasets_noncleaned\\datasets_noncleaned\\schizophrenia_2018_features_tfidf_256.csv")
df23=pd.read_csv("D:\\Downloads\\datasets_noncleaned\\datasets_noncleaned\\schizophrenia_2019_features_tfidf_256.csv")
df24=pd.read_csv("D:\\Downloads\\datasets_noncleaned\\datasets_noncleaned\\schizophrenia_post_features_tfidf_256.csv")
df25=pd.read_csv("D:\\Downloads\\datasets_noncleaned\\datasets_noncleaned\\schizophrenia_pre_features_tfidf_256.csv")

In [218]:
df_merged = pd.concat([df22,df23,df24,df25], ignore_index=True)

In [219]:
df_merged

,subreddit,author,date,post,automated_readability_index,coleman_liau_index,flesch_kincaid_grade_level,flesch_reading_ease,gulpease_index,gunning_fog_index,...,tfidf_wish,tfidf_without,tfidf_wonder,tfidf_work,tfidf_worri,tfidf_wors,tfidf_would,tfidf_wrong,tfidf_x200b,tfidf_year
0,schizophrenia,dearangelou,2018/01/01,Meditation I have been using the free meditati...,1.851562,4.571426,4.123750,79.746250,85.562500,6.950000,...,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.285224,0.0,0.0,0.258562
1,schizophrenia,one57,2018/01/01,I forgot to take my morning meds. But luckily ...,1.681154,3.930180,3.340705,88.477212,81.051282,6.976923,...,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000
2,schizophrenia,Youtakethestep,2018/01/01,Not sure if I'm experiencing thought broadcast...,4.831118,5.330705,5.875624,80.787347,69.029070,9.510359,...,0.000000,0.086500,0.0,0.195982,0.000000,0.0,0.000000,0.0,0.0,0.000000
3,schizophrenia,speedyturtle,2018/01/01,"Questions regarding my depot. Hey guys, just a...",3.420556,5.741240,3.481259,89.339667,75.481481,5.801481,...,0.000000,0.000000,0.0,0.000000,0.218111,0.0,0.000000,0.0,0.0,0.000000
4,schizophrenia,madeofmold,2018/01/01,Advice on Coming Clean? Hello I am 22 and am b...,0.054026,2.349350,2.707013,89.649091,89.909091,6.051948,...,0.000000,0.000000,0.0,0.217153,0.302920,0.0,0.211891,0.0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8707,schizophrenia,NoRoad7,2019/04/26,What can I do about my problems with hallucina...,4.630162,6.366598,5.613698,77.870638,70.587983,8.439580,...,0.000000,0.144797,0.0,0.000000,0.152546,0.0,0.000000,0.0,0.0,0.193461
8708,schizophrenia,havesexwithme666,2019/04/26,Anyone else done shrooms? Despite knowing its ...,3.890540,5.922192,4.896831,81.031209,73.154930,9.522066,...,0.000000,0.000000,0.0,0.104197,0.000000,0.0,0.000000,0.0,0.0,0.000000
8709,schizophrenia,Sdcghfxz,2019/04/26,Is hypnagogia and closed eye visuals at night ...,5.539896,8.435954,4.672083,80.564583,71.187500,7.183333,...,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000
8710,schizophrenia,choppinnfloppin,2019/04/26,I think I might be mildly schizophrenic/have s...,7.676204,7.262169,8.121219,70.203585,63.104389,11.716346,...,0.000000,0.000000,0.0,0.192194,0.000000,0.0,0.031256,0.0,0.0,0.028334
8711,schizophrenia,thefoxinthesnow87,2019/04/26,Was my Dad schizophrenic? My Dad died when I w...,4.484052,5.458448,4.679368,87.339914,70.063218,7.524138,...,0.079313,0.000000,0.0,0.000000,0.000000,0.0,0.244975,0.0,0.0,0.177660

In [220]:
# Keep only the 'text' and 'subreddit' columns
df_merged = df_merged[['post','subreddit']]

# Rename 'subreddit' to 'status'
df_merged = df_merged.rename(columns={'subreddit': 'status','post':'text'})

# Verify the result
df_merged.head()

                                                text         status
0  Meditation I have been using the free meditati...  schizophrenia
1  I forgot to take my morning meds. But luckily ...  schizophrenia
2  Not sure if I'm experiencing thought broadcast...  schizophrenia
3  Questions regarding my depot. Hey guys, just a...  schizophrenia
4  Advice on Coming Clean? Hello I am 22 and am b...  schizophrenia

In [221]:
print(df_merged['status'].value_counts())

status
schizophrenia    8712
Name: count, dtype: int64

In [222]:
duplicates = df_merged[df_merged.duplicated(subset='text', keep=False)]
num_duplicates = duplicates.shape[0]
print(f"Number of duplicate 'text' entries: {num_duplicates}")
df_cleaned = df_merged.drop_duplicates(subset='text', keep='first')

Number of duplicate 'text' entries: 2052

In [223]:
print(df_cleaned['status'].value_counts())

status
schizophrenia    7685
Name: count, dtype: int64

In [224]:
df=pd.read_csv("D:\\Downloads\\datasets_noncleaned\\final1_dataset.csv")

In [225]:
df_merged = pd.concat([df,df_cleaned], ignore_index=True)

In [226]:
print(df_merged['status'].value_counts())

status
depression              144273
adhd                     61705
normal                   30201
ocd                      25367
anxiety                  18693
stress                   16051
personality disorder     14810
bipolar disorder         14517
ptsd                     13757
aspergers                13418
suicidal                 11042
schizophrenia             7685
alcoholism                5084
Name: count, dtype: int64

In [227]:
df_merged.to_csv('final2_dataset.csv', index=False)

In [228]:
print(df_merged['status'].value_counts())

status
depression              144273
adhd                     61705
normal                   30201
ocd                      25367
anxiety                  18693
stress                   16051
personality disorder     14810
bipolar disorder         14517
ptsd                     13757
aspergers                13418
suicidal                 11042
schizophrenia             7685
alcoholism                5084
Name: count, dtype: int64

In [229]:
df=pd.read_csv("D:\\Downloads\\datasets_noncleaned\\final2_dataset.csv")

In [231]:
print(df['status'].value_counts())

status
depression              144273
adhd                     61705
normal                   30201
ocd                      25367
anxiety                  18693
stress                   16051
personality disorder     14810
bipolar disorder         14517
ptsd                     13757
aspergers                13418
suicidal                 11042
schizophrenia             7685
alcoholism                5084
Name: count, dtype: int64

In [237]:
df = pd.concat([df,df_merged], ignore_index=True)

In [238]:
print(df['status'].value_counts())

status
depression              144273
adhd                     61705
normal                   30201
ocd                      25367
anxiety                  18693
stress                   16051
personality disorder     14810
bipolar disorder         14517
ptsd                     13757
aspergers                13418
suicidal                 11042
schizophrenia             7685
addiction                 7641
alcoholism                5084
Name: count, dtype: int64

In [239]:
df.to_csv('final3_dataset.csv', index=False)

In [240]:
df=pd.read_csv("D:\\Downloads\\datasets_noncleaned\\final3_dataset.csv")

In [241]:
print(df['status'].value_counts())

status
depression              144273
adhd                     61705
normal                   30201
ocd                      25367
anxiety                  18693
stress                   16051
personality disorder     14810
bipolar disorder         14517
ptsd                     13757
aspergers                13418
suicidal                 11042
schizophrenia             7685
addiction                 7641
alcoholism                5084
Name: count, dtype: int64

In [242]:
df0=pd.read_csv("D:\\Downloads\\datasets_noncleaned\\cleaned_dataanew.csv")

In [243]:
print(df0['status'].value_counts())

status
suicidal                73054
bipolar disorder        36359
depression              30700
normal                  30201
ocd                     25367
ptsd                    21328
adhd                    20348
anxiety                 18693
stress                  16050
personality disorder    14808
aspergers               13422
Name: count, dtype: int64

In [244]:
df_concat = pd.concat([df,df0], ignore_index=True)

In [245]:
print(df_concat['status'].value_counts())

status
depression              174973
suicidal                 84096
adhd                     82053
normal                   60402
bipolar disorder         50876
ocd                      50734
anxiety                  37386
ptsd                     35085
stress                   32101
personality disorder     29618
aspergers                26840
schizophrenia             7685
addiction                 7641
alcoholism                5084
Name: count, dtype: int64

In [246]:
duplicates = df_concat[df_concat.duplicated(subset='text', keep=False)]
num_duplicates = duplicates.shape[0]
print(f"Number of duplicate 'text' entries: {num_duplicates}")

Number of duplicate 'text' entries: 420344

In [250]:
df_cleaned = df_concat.drop_duplicates(subset='text', keep='first')

In [251]:
duplicates = df_cleaned[df_cleaned.duplicated(subset='text', keep=False)]
num_duplicates = duplicates.shape[0]
print(f"Number of duplicate 'text' entries: {num_duplicates}")

Number of duplicate 'text' entries: 0

In [252]:
print(df_cleaned['status'].value_counts())

status
depression              144271
suicidal                 72892
adhd                     61705
bipolar disorder         36350
normal                   30201
ocd                      25367
ptsd                     21314
anxiety                  18693
stress                   16051
personality disorder     14810
aspergers                13418
schizophrenia             7682
addiction                 6561
alcoholism                5084
Name: count, dtype: int64

In [253]:
df_cleaned.to_csv('thefinal_dataset.csv', index=False)